<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta http-equiv="x-ua-compatible" content="ie=edge">
                <title>View</title>
                <!-- Font Awesome -->
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
                <!-- Bootstrap core CSS -->
                <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
                <!-- Material Design Bootstrap -->
                <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
                <!-- Your custom styles (optional) -->
                <link href="stylesheets/css/style.css" rel="stylesheet">
                <!-- MDBootstrap Datatables  -->
                <link href="stylesheets/css/addons/datatables.min.css" rel="stylesheet">
                <link href="stylesheets/view-style.css" rel="stylesheet">

        </head>
    <body>
        <div>
            <div class="content">
                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="th-sm">card_id
                                    </th>
                                    <th class="th-sm">nim
                                    </th>
                                    <th class="th-sm">name
                                    </th>
                                    <th class="th-sm">instansi
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    <% for (var i = 0; i < data.length; i++) { %>
                                        <tr>
                                            <td><%= data[i].card_id %></td>
                                            <td><%= data[i].nim %></td>
                                            <td><%= data[i].name %></td>
                                            <td><%= data[i].instansi %></td>
                                        </tr>    
                                    <% } %>
                            </tbody>
                        </table>
            </div>
        </div>
            
        <div class="footer">
            <button id="but" class="but">
                Submit
            </button>
        </div>
        
        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="javascripts/js/jquery-3.4.1.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="javascripts/js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="javascripts/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="javascripts/js/mdb.min.js"></script>
        <!-- MDBootstrap Datatables  -->
        <script type="text/javascript" src="javascripts/js/addons/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
            });
        </script>

        <script type="text/javascript">
            document.getElementById("but").onclick = function () {
                location.href = "http://localhost:3000/submit";
            };
        </script>


    </body>
</html>